/*  */
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

* {
  font-family: "Style Script", cursive;
  font-weight: 900;
  font-style: normal;
  /* font: 20x  "Style Script", cursive; */
  font-size: 50px;
  text-transform: lowercase;
}

#header {
  color: brown;
}
.p-text {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  /* text-align: center; */
  text-align-last: right;
  /* text-decoration: dotted blueviolet 5px underline; */
  word-spacing: 50px;
   letter-spacing: 10px;
   text-indent: 50px;
   text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px red;
   color: white;
}
.h1-class {
  color: blue;
}
.h1-class {
  background-color: rgb(53, 33, 150);
}
img {
  vertical-align: middle;
}
a{
    text-decoration: none;
}